body {
    margin: 0;
    font-size: 90%;
    background-color: #f0f0ff;
}

.section {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-color: #f0f0ff;
}

#img-1 {
    position: absolute;
    height: 80%;
    right: 10%;
    bottom: 0%;
}

.main-title {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 5em;
    position: relative;
    top: 40%;
    width: 50%;
    left: 10%;
}

.sub-title {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1.5em;
    position: relative;
    top: 40%;
    left: 10%;
    width: 30%;
}

.header-1 {
    color: #1f15c7;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    font-size: 2.1em;
    position: absolute;
    left: 5%;
    top: 20%;
    text-transform: uppercase;
}

.cols-2-container {
    display: flex;
    position: absolute;
    top: 40%;
    width: 100%;
}

.col-of-2 {
    width: 50%;
}

.number-circle {
    color: white;
    display: flex;
     align-items: center;
    background-color: #5271ff;
    width: 3.5em;
    height: 3.5em;
    text-align: center;
    border-radius: 50%;
    margin-left: 5em;
    
}

.num-wrapper {
   text-align: center;
    width: 100%;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 1.7em;
}

.paragraph {
    color: #03003b;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    width: 60%;
    margin-left: 5em;
    margin-top: 3em;
}


.main-title-2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 3.5em;
    position: absolute;
    top: 30%;
    width: 42.5%;
    left: 5%;
    text-transform: uppercase;
}

.right-side-list {
    position: absolute;
    right: 0;
    width: 30%;
    height: 60%;
    top: 20%;
}

.right-side-list p {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    width: 80%;
    color: white;
    font-size: 1.4em;
    margin-top: 3em;
}

.title-right {
    left: 60% !important;
}

.white-font {
    color: white;
}

.p-container-right {
    width: 47.5%;
    position: absolute;
    right: 0%;
    top: 37.5%;
}

.img-container-left img {
    width: 100%;
}

.img-container-left {
    position: absolute;
    left: 10%;
    top: 30%;
    width: 20%;
    cursor: pointer;
    transition: all 0.3s;
}

.img-container-left:hover {
    width: 21%;
    left: 9.5%;
    top: 29.5%;
}

.img-container-right img {
    width: 100%;
}

.img-container-right {
    position: absolute;
    right: 15%;
    top: 33%;
    width: 15%;
    cursor: pointer;
    transition: all 0.3s;
}

.img-container-right:hover {
    width: 16%;
    right: 14.5%;
    top: 32.5%;
}


.phone {
    border-radius: 0.5em;
    margin: 1em;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
    border: 2px solid #999994;
}

.smartphone-container {
    margin-top: 1%;
    position: absolute;
    left: 20%;
}

.smartphone {
    z-index: 10;
    position: relative;
    width: fit-content;
    margin-left: calc(50% - 150px);
}

#phone-frame {
    width: 295px;
    position: absolute;
    pointer-events: none;
}

iframe {
    position: absolute;
    left: 0.5em;
    top: 1em;
    border: none;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#phone-time {
    pointer-events: none;
    position: absolute;
    color: black;
    font-family: 'Montserrat', sans-serif;
    top: 2.3em;
    left: 3em;
    font-size: 0.6em;
    font-weight: 900;
}

.phone-nav {
    position: absolute;
    top: 547px;
    display: flex;
    left: 35px;
}

.phone-nav img {
    cursor: pointer;
    margin-left: 2em;
    margin-right: 2em;
}

.phone-disclaimer {
    position: absolute;
    right: 5%;
    top: 20%;
    width: 50%;
    color: #03003b;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    font-weight: 500;
}


@media screen and (min-width: 900px) and (max-width: 1050px) {
    body {
        font-size: 80%;
    }
    
    .paragraph {
        font-size: 1.5em;
    }
    
    .right-side-list p {
        font-size: 1.5em;
    }
}
    
@media screen and (min-width: 750px) and (max-width: 900px) {
    body {
        font-size: 70%;
        
    }
    
    .paragraph {
        font-size: 1.7em;
    }
    
    .right-side-list p {
        font-size: 1.7em;
    }
}

