body {
    margin: 0;
}

.cover {
    width: 100%;
}

.nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-top: -0.3em;
    width: 100%;
    display: flex;
    background-color: #6eabff;
}

.nav span {
    margin: 0.25em;
    flex: 1;
    text-align: center;
    padding: 0.5em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    border-right: 1px solid #a5cbff;
    color: white;
    cursor: pointer;
}

.nav span:hover {
    font-weight: 600;
}

.nav span:nth-last-of-type(1) {
    border-right: none;
}

.progress-bar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 2.7em;
    width: 100%;
    height: 0.3em;
    background-color: #d8e8ff;
}

.progress {
    border-bottom-right-radius: 0.2em;
    border-top-right-radius: 0.2em;
    width: 0%;
    background-color: #6896e0;
    transition: all 0.3s;
    height: 0.3em;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6em;
    padding-left: 1em;
    margin-top: 2em;
    color: #00007b;
    text-transform: uppercase;
}

p {
    padding-left: 4em;
    padding-right: 4em;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}

.row-2 {
/*    align-items: center;*/
    display: flex;
}

.phone {
    border-radius: 0.5em;
    margin: 1em;
    flex-grow: 0;
    flex-shrink: 0;
    margin: auto;
    border: 2px solid #999994;
}

.smartphone {
    z-index: -10;
    position: relative;
    width: fit-content;
    margin-top: 1em;
    margin-left: calc(50% - 150px);
}

#phone-frame {
    width: 310px;
    position: absolute;
    pointer-events: none;
}

iframe {
    position: absolute;
    left: 0.5em;
    top: 1em;
    border: none;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#phone-time {
    pointer-events: none;
    position: absolute;
    color: black;
    font-family: 'Montserrat', sans-serif;
    top: 2.3em;
    left: -0.5em;
    font-size: 0.6em;
    font-weight: 900;
}

.screenshots {
    box-shadow: inset 0px 0px 4px 4px black;
/*    flex-wrap: wrap;*/
    display: flex;
    overflow-x: scroll;
}

