
@import '_variables.scss';

.diploma-list {
    width: 25vw;
    height: 80%;
    margin-left: 5vw;

    position: absolute;

    padding-top: 8%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    text-align: center;

    .diploma {

        flex: 1;

        margin-top: 1em;
        margin-bottom: 1em;

        padding: 1.25em;

        color: $bg-color;
        font-size: 1.1em;



    }
}

.descriptions {
    position: absolute;

    height: 80%;
    padding-top: 13%;

    left: 50%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .desc {
        flex: 1;
        width: 80%;

        span {
            color: $accent-color-light;
        }

        &::before {
            content: "";
            display: block;
            height: 1px;

            margin-left: -25%;
            background-color: white;
            margin-bottom: .5em;
        }
    }



}