.diploma-list {
  width: 25vw;
  height: 80%;
  margin-left: 5vw;
  position: absolute;
  padding-top: 8%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.diploma-list .diploma {
  flex: 1;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1.25em;
  color: #222831;
  font-size: 1.1em;
}

.descriptions {
  position: absolute;
  height: 80%;
  padding-top: 13%;
  left: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.descriptions .desc {
  flex: 1;
  width: 80%;
}
.descriptions .desc span {
  color: #99cace;
}
.descriptions .desc::before {
  content: "";
  display: block;
  height: 1px;
  margin-left: -25%;
  background-color: white;
  margin-bottom: 0.5em;
}

.work-list {
  width: 25vw;
  height: 80%;
  margin-left: 25vw;
  position: absolute;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.work-list .work {
  transition: all 0.5s;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1.25em;
  color: #222831;
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;
}
.work-list .work img {
  height: 2em;
}
.work-list .work img#armeeair {
  height: 2.75em;
}
.work-list .work span {
  font-size: 0.85em;
  font-weight: 100;
}

.work-desc {
  position: absolute;
  height: 80%;
  width: 28%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.work-desc .desc {
  flex: 1;
  width: 100%;
  height: 33%;
  text-align: right;
}
.work-desc .desc span {
  color: #99cace;
}
.work-desc .desc::before {
  content: "";
  display: block;
  height: 1px;
  margin-right: -25%;
  background-color: white;
  margin-bottom: 0.5em;
}
.work-desc .desc:nth-child(even)::before {
  display: none;
}

.work-desc-left {
  padding-top: 12%;
  padding-left: 2%;
  left: 0;
}

.work-desc-right {
  padding-top: 30%;
  right: 0;
}
.work-desc-right .desc {
  text-align: left;
}
.work-desc-right .desc::before {
  margin-right: 0%;
  margin-left: -20%;
}

.carousel-container {
  width: 62.5%;
  aspect-ratio: 3/2;
  position: absolute;
  right: 0;
  bottom: 10%;
}

.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  right: 0;
  bottom: 0;
}

.image-container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}
.image-container img {
  width: 100%;
}

.btn {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.btn.prev {
  left: 1em;
}

.btn.next {
  right: 1em;
}

.btn:hover {
  opacity: 1;
}

.skill-graph {
  position: absolute;
  height: 85%;
  left: 20%;
  margin-top: 2.5%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Reem Kufi", sans-serif;
  display: flex;
  background-color: #222831;
  color: white;
}

.main-title {
  height: 100%;
  width: 15%;
  padding-left: 2em;
  display: flex;
}

.title-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 50%;
  text-transform: uppercase;
  font-size: 3.25em;
  font-weight: 700;
  overflow: hidden;
}

.title-word {
  margin-top: 0.5em;
  margin-bottom: 0.15em;
  line-height: 135%;
  transition: all 0.5s;
}

#Hugo {
  color: #222831;
  -webkit-text-stroke: 3px #fff;
}

.current-page {
  width: 85%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.current-page > :first-child {
  top: 0%;
}

.page {
  width: 100%;
  height: 100%;
  top: 100%;
  position: absolute;
  overflow-y: hidden;
  transition: all 0.5s;
}

.work-page {
  overflow-x: hidden;
}

.dot-grid {
  position: absolute;
  left: 15%;
}

.ribbon {
  position: absolute;
  transition: all 0.5s;
  left: 55%;
  top: 0;
  width: 25%;
  height: 100%;
  z-index: -1;
  background-color: #7CA6A9;
}
.ribbon img {
  position: absolute;
  bottom: 1em;
  margin-left: calc(50% - 1.25em);
  width: 2.5em;
}

.nav {
  margin-top: 1em;
  margin-right: 1em;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
}

.nav-title {
  transition: all 0.5s;
  color: #7CA6A9;
  opacity: 0.5;
  font-size: 1.25em;
  margin-bottom: 0.25em;
  cursor: pointer;
  white-space: nowrap;
  text-align: right;
}
.nav-title.selected {
  opacity: 1;
}
.nav-title:hover {
  opacity: 1;
}

.nav-progress {
  margin-left: 1em;
  width: 3px;
  position: relative;
  background-color: rgba(124, 166, 169, 0.2);
}

.nav-progress-fill {
  transition: all 0.5s;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #7CA6A9;
}/*# sourceMappingURL=main.css.map */